@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body{
  font-family: 'Karla',Helvetica,Arial,Lucida,sans-serif;
}
.container{
  margin: 0 auto;
  width: 85%;
}

/*loader bg #fefefe*/